{% extends 'base.html.twig' %}

{% block body %}
    <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text product-more">
                        <a href="./home.html"><i class="fa fa-home"></i> Home</a>
                        <a href="./shop.html">Shop</a>
                        <span>Detail</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section Begin -->

    <!-- Product Shop Section Begin -->
    <section class="product-shop spad page-details">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">

                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="product-pic-zoom">
                                <img class="product-big-img" src="{{ asset(produit.id.imgUrl) }}" alt="">
                                <div class="zoom-icon">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </div>
                            <!--div class="product-thumbs">
                                <div class="product-thumbs-track ps-slider owl-carousel">
                                    <div class="pt active" data-imgbigurl="{{ asset(produit.id.imgUrl) }}"><img
                                                src="" alt="{{ asset(produit.id.imgUrl) }}"></div>
                                    <div class="pt" data-imgbigurl="{{ asset(produit.id.imgUrl) }}"><img
                                                src="" alt="{{ asset(produit.id.imgUrl) }}"></div>
                                    <div class="pt" data-imgbigurl="{{ asset(produit.id.imgUrl) }}"><img
                                                src="" alt="{{ asset(produit.id.imgUrl) }}"></div>
                                    <div class="pt" data-imgbigurl="{{ asset(produit.id.imgUrl) }}"><img
                                                src="" alt="{{ asset(produit.id.imgUrl) }}"></div>
                                </div>
                            </div-->
                        </div>
                        <div class="col-lg-6">
                            <div class="product-details">
                                <div class="pd-title">
                                    <span>{{ produit.marque }}</span>

                                    <h3>{{ produit.id.nomProd }}</h3>


                                    <a href="#" class="heart-icon"><i class="icon_heart_alt"></i></a>
                                </div>
                                <div class="pd-desc">
                                    <p>{{ produit.id.description }}</p>
                                    <h4>{{ produit.id.prix }} TND <!--span>629.99</span--></h4>
                                </div>
                                <div class="quantity">
                                    <div class="qty">
                                        <input id="quantityDetails" type="number" value="1" min="1" max="9" oninput="validity.valid||(value='');">
                                    </div>
                                    <a href="" onclick="AjouterPanierQte({{ produit.id.id }})" class="primary-btn pd-cart">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-tab">
                        <div class="tab-item">
                            <ul class="nav" role="tablist">
                                <li>
                                    <a class="active" data-toggle="tab" href="#tab-1" role="tab">DESCRIPTION</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#tab-2" role="tab">SPECIFICATIONS</a>
                                </li>
                                <li>
                                    <a id="reviewsBtn" data-toggle="tab" href="#tab-3" role="tab">Customer Reviews ({{ reviews|length }})</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-item-content">
                            <div class="tab-content">
                                <div class="tab-pane fade-in active" id="tab-1" role="tabpanel">
                                    <div class="product-content">
                                        <div class="row">
                                            <div class="col-lg-11">
                                                <h5>Introduction</h5>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                                    ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                                    aliquip ex ea commodo consequat. Duis aute irure dolor in </p>
                                                <h5>Features</h5>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                                    ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                                    aliquip ex ea commodo consequat. Duis aute irure dolor in </p>
                                            </div>
                                            <div class="col-lg-5">
                                                <img src="img/product-single/tab-desc.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tab-2" role="tabpanel">
                                    <div class="specification-table">
                                        <table>
                                            <tr>
                                                <td class="p-catagory">Customer Rating</td>
                                                <td>
                                                    <div class="pd-rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <span>(5)</span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="p-catagory">Price</td>
                                                <td>
                                                    <div class="p-price">$495.00</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="p-catagory">Add To Cart</td>
                                                <td>
                                                    <div class="cart-add">+ add to cart</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="p-catagory">Availability</td>
                                                <td>
                                                    <div class="p-stock">22 in stock</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="p-catagory">Weight</td>
                                                <td>
                                                    <div class="p-weight">1,3kg</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="p-catagory">Size</td>
                                                <td>
                                                    <div class="p-size">Xxl</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="p-catagory">Color</td>
                                                <td><span class="cs-color"></span></td>
                                            </tr>
                                            <tr>
                                                <td class="p-catagory">Sku</td>
                                                <td>
                                                    <div class="p-code">00012</div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tab-3" role="tabpanel">
                                    <div id="reviewopt" class="customer-review-option">
                                        <h4>{{ reviews|length }} Comments</h4>
                                        {% for comment in reviews %}
                                        <div class="comment-option">
                                            <div class="co-item">
                                                <div class="avatar-pic">
                                                    <img src="{{ asset('images/1.jpg')  }}" alt="">
                                                </div>
                                                <div class="avatar-text">
                                                    <div class="at-rating">
                                                        {% if comment.rate<=5 %}
                                                            {% for i in range(0,comment.rate-1)  %}
                                                                <i class="fa fa-star"></i>
                                                            {% endfor %}
                                                            {% for i in range(comment.rate-1,3)  %}
                                                                <i class="fa fa-star-o"></i>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </div>
                                                    <h5>{{ comment.user.username }} <span>{{ comment.date|date('d-M-Y') }}</span></h5>
                                                    <div class="at-reply">{{ comment.comment }}</div>
                                                </div>
                                            </div>

                                        </div>
                                        {% endfor %}
                                        {#<div class="personal-rating">
                                            <h6>Your Ratind</h6>
                                            <div class="rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                            </div>
                                        </div>#}
                                        <div class="leave-comment">
                                            <h4>Leave A Comment</h4>
                                            <form action="#" class="comment-form ">
                                                <div class="row">
                                                    <div class="col-lg-6 " style="display: flex; margin-right: 5px;">
                                                        <label for="rate">Rating:  </label>
                                                        <select id="rate" name="rate" style="width: 50%; margin-left: 10px;" class="browser-default custom-select">
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                            <option value="5">5</option>
                                                        </select>
                                                        <div class="rating" id="rating" style="margin-left: 50px; flex-grow: 1;">

                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <textarea placeholder="Comments" id="comments" name="comments"></textarea>
                                                        <input id="idProduit" value="{{ produit.id.id }}" hidden>
                                                        <button type="button" id="send-comment" class="site-btn">Send Comment</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Shop Section End -->
    <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
    <script>

        let rate = document.getElementById('rate');
        let comment = document.getElementById('comments');
        let idProduit = document.getElementById('idProduit');

        let rating= document.getElementById('rating');

        function ratingtext(rate)
        {
            let text="";
            for (let i = 0; i <rate ; i++) {
                text+="<i class='fa fa-star'></i>";
            }
            for (let i = rate-1; i <4 ; i++) {
                text+="<i class='fa fa-star-o'></i>";
            }
            return text;
        }

        $(document).ready(function () {


            $('.co-item').each(function (index) {
                $(this).delay(400*index).fadeOut();
            });

            rating.innerHTML=("<i class='fa fa-star'></i>");
            for (let i = rate.value-1; i <4 ; i++) {
                $('#rating').append($("<i class='fa fa-star-o'></i>"));
            }

            $('#reviewsBtn').on('click',function () {
                $('.co-item').each(function (index) {
                    $(this).delay(400*index).fadeIn(600);
                });
            });

            $('#send-comment').on("click",function () {
                $.ajax({
                    url:"/AddReview",
                    method:"POST",
                    dataType:"JSON",
                    data:{rate:rate.value,comment:comment.value,produit:idProduit.value},
                    async:true,
                    success: function (data,status) {

                        rate.value=1;
                        comment.value="";
                        rating.innerHTML=("<i class='fa fa-star'></i>");
                        for (let i = rate.value-1; i <4 ; i++) {
                            $('#rating').append($("<i class='fa fa-star-o'></i>"));
                        }
                        $('.comment-option:last').append('<div class="co-item"><div class="avatar-pic"><img src="{{ asset('images/1.jpg')  }}" alt=""> </div> <div class="avatar-text"> <div class="at-rating">'+ratingtext(data['rate'])+'</div> <h5>'+data['username']+'<span>'+data['date']+'</span></h5> <div class="at-reply">'+data['comment']+'</div> </div> </div>');
                    },
                    error: function (xhr, textStatus, errorThrown) {

                    }



                });
            });

        });
        $('#rate').on('change',function () {
            rating.innerHTML="";
            if(rate.value<=5)
            {
                for (let i = 0; i <rate.value ; i++) {
                    $('#rating').append($("<i class='fa fa-star'></i>"));

                }
                for (let i = rate.value-1; i <4 ; i++) {
                    $('#rating').append($("<i class='fa fa-star-o'></i>"));
                }
            }



        });





    </script>
{% endblock %}