{% extends 'base.html.twig' %}

{% block body %}
    <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <a href="{{ path('index') }}"><i class="fa fa-home"></i> Home</a>
                        <span>Evenements</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section Begin -->

    <!-- Blog Section Begin -->
    <section class="blog-section spad">
        <div class="container">
            <div class="row">

                <div class="col-lg-11 order-1 order-lg-5">
                    <div class="row">
                        {% for e in events %}
                        <div class="col-lg-6 col-sm-6">
                            <div class="blog-item">

                                   <div class="bi-pic">
                                       <img src="{{ asset('images/weather.jpg') }}" alt="">
                                   </div>
                                   <div class="bi-text">
                                       <a>Nom Evenement: {{ e.nom }}</a><br>
                                       <a>Date: {{ e.date|date('Y-m-d') }} Heure: {{ e.heure|date('H:i') }}</a><br>
                                       <a>Description: {{ e.description }}</a><br>
                                   </div>


                            </div>


                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Section End -->
{% endblock %}