{% extends 'base.html.twig' %}

{% block body %}
    <!-- Hero Section Begin -->
    <section class="hero-section">
        <div class="hero-items owl-carousel">
            <div class="single-hero-items set-bg" data-setbg="images/bb.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <h1 style="color: #cdcdcd">Buy Bikes And Parts</h1>
                            <p style="color: #000000">Enjoy our large selection of bikes, spare parts and riders accessories.
                            We have something for everyone</p>
                            <a href="{{ path('shop') }}" class="primary-btn">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-hero-items set-bg" data-setbg="images/aa.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <h1 style="color: #cdcdcd">Events</h1>
                            <p style="color: #c9b848">Participate in different event and enlarge your social circle</p>
                            <a href="{{ path('shop') }}s" class="primary-btn">Events</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Banner Section Begin -->
    <div class="banner-section spad">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="single-banner">
                        <img src="{{ asset('images/banner-1.jpg') }}" alt="">
                        <div class="inner-text">
                            <h4>Bikes</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-banner">
                        <img src="{{ asset('images/banner-2.jpg') }}" alt="">
                        <div class="inner-text">
                            <h4>Parts</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-banner">
                        <img src="{{ asset('images/banner-3.jpg') }}" alt="">
                        <div class="inner-text">
                            <h4>Accessories</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}